<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd">
    <!--UserService的创建权交给了spring-->
    <bean id="userService" class="com.lucky.ioc.demo1.UserServiceImpl">
        <!--设置属性:引号里面就是对应的属性名称，要和该类定义的属性名一致-->
        <property name="name" value="李四"/>
    </bean>

    <!--bean实例化的三种方式-->
    <!--第一种无参构造器的方式-->
    <bean id="bean1" class="com.lucky.ioc.demo2.Bean1"></bean>
    <!--第二种：静态工厂方式-->
    <bean id="bean2" class="com.lucky.ioc.demo2.Bean2Factory" factory-method="createBean2"></bean>
    <!--第三种：实例工厂方式-->
    <bean id="bean3Factory" class="com.lucky.ioc.demo2.Bean3Factory"></bean>
    <bean id="bean3" factory-bean="bean3Factory" factory-method="createBean3"></bean>


    <!--bean的作用范围-->
    <bean id="person" class="com.lucky.ioc.demo3.Person" scope="prototype"></bean>


</beans>